body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: rgba(233, 12, 185, 0.253);
}
input, button {
    padding: 10px;
    font-size: 16px;
}
#resultado {
    margin-top: 20px;
    font-size: 18px;
}